PORT=3000
ENV=development


# Prod Database
DB_URL=

# Dev Database
DB_USER={user}
DB_PASS={password}
DB_HOST={host}
DB_PORT={port}
DB_NAME={name}

# JWT
JWT_SECRET=your_super_secret_key_minimum_32_chars
