PORT=3000
PORT_BACKUP=3030
ENV=development #development, production, testing or remote_testing

# Prod Database
DB_URL=
DB_URL_testing=your_remote_database_url

# Dev, Testing Database 
DB_USER=user
DB_PASS=pass
DB_HOST=host
DB_PORT=port
DB_DEV_NAME=dev_db
DB_TEST_NAME=testing_db

# JWT
JWT_SECRET=your_super_secret_key_minimum_32_chars
